@charset "UTF-8";
.clearfix:after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  clear: both; }

.part-1, .part-2, .part-3, .part-4, .part-5, .part-6, .part-7, .part-8, .part-9, .part-10, .part-11, .part-12 {
  float: left;
  box-sizing: border-box;
  padding: 10px; }

.part-1 {
  width: 8.33333%; }

.part-2 {
  width: 16.66667%; }

.part-3 {
  width: 25%; }

.part-4 {
  width: 33.33333%; }

.part-5 {
  width: 41.66667%; }

.part-6 {
  width: 50%; }

.part-7 {
  width: 58.33333%; }

.part-8 {
  width: 66.66667%; }

.part-9 {
  width: 75%; }

.part-10 {
  width: 83.33333%; }

.part-11 {
  width: 91.66667%; }

.part-12 {
  width: 100%; }

* {
  font-size: 16px;
  color: #333333;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: 微軟正黑體, arial, "sans serif"; }

.wrapper {
  width: 100%;
  padding: 0 16px;
  margin-bottom: 30px;
  line-height: 1.6; }
  .wrapper img, .wrapper a, .wrapper span {
    display: block; }
  .wrapper img {
    width: 100%; }
  .wrapper a {
    text-decoration: none; }
  .wrapper .fl {
    float: left; }
  .wrapper .font_blod {
    font-weight: bold; }
  .wrapper input, .wrapper button {
    border: none; }
  .wrapper h2 {
    font-size: 30px; }
  .wrapper .font-blod {
    font-weight: bold; }

.breadcrumbs {
  margin-top: 60px; }
  .breadcrumbs a {
    vertical-align: middle; }
    .breadcrumbs a:hover {
      color: #BB7232; }
    .breadcrumbs a:before {
      content: '\203A';
      padding: 0 5px;
      color: #333333; }
    .breadcrumbs a:first-child:before {
      display: none; }

.banner-pic {
  position: relative;
  z-index: -1; }
  .banner-pic .like {
    background-color: transparent;
    position: absolute;
    right: 0;
    bottom: 0; }

.banner-txt {
  margin-top: 25px; }
  .banner-txt .product span {
    margin-left: 20px; }

.score {
  margin-top: 15px; }
  .score .score-text {
    margin-right: 25px;
    font-size: 20px; }
  .score .grade span {
    width: 25px;
    margin-right: 10px; }

.price {
  margin-top: 20px;
  font-size: 24px; }

.content {
  margin-top: 20px; }
  .content .content-top span {
    margin-right: 25px;
    font-size: 20px; }
  .content .content-top .kcal span {
    margin-right: 10px;
    font-size: 16px;
    line-height: 32px; }
  .content p {
    margin-top: 15px; }

.count {
  margin-top: 50px; }
  .count .count-qty span {
    height: 40px;
    margin-right: 25px;
    font-size: 20px;
    line-height: 40px; }
  .count .count-input input {
    margin-right: 10px;
    height: 40px; }
  .count .count-input .qty-width {
    width: 40px;
    border-radius: 25px;
    background-color: #FCE444;
    box-shadow: 0 4px #BB7232; }
    .count .count-input .qty-width:hover {
      box-shadow: 0 2px #BB7232;
      transform: translateY(2px);
      transition: box-shadow 0.3s , transform 0.3s; }
  .count .count-input .qty {
    width: 100px;
    border: 1px solid #aaa;
    text-align: center; }
    .count .count-input .qty:focus {
      background-color: #FCF2CA; }
  .count .count-input .qty-add {
    margin-right: 0px; }
  .count .count-button {
    margin-top: 50px;
    position: relative; }
    .count .count-button button {
      width: 45%;
      height: 40px;
      border-radius: 25px;
      background-color: #FCE444;
      box-shadow: 0 4px #BB7232; }
      .count .count-button button:hover {
        box-shadow: 0 2px #BB7232;
        transform: translateY(2px);
        transition: box-shadow 0.3s , transform 0.3s; }
    .count .count-button .add-cart {
      position: relative;
      bottom: 0;
      left: 0;
      margin: auto; }
    .count .count-button .go-cart {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: auto; }

.title {
  margin: 80px 0 50px;
  font-size: 36px;
  text-align: center; }

.member-msg {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 10px; }
  .member-msg .member-txt .member-letter {
    width: 100%;
    height: 40px;
    margin-top: 15px;
    border: 1px solid #aaa; }
  .member-msg .member-txt .comments {
    padding: 0 10px;
    height: 40px;
    margin-top: 20px;
    border-radius: 25px;
    background-color: #FCE444;
    box-shadow: 0 4px #BB7232;
    float: right; }
    .member-msg .member-txt .comments:hover {
      box-shadow: 0 2px #BB7232;
      transform: translateY(2px);
      transition: box-shadow 0.3s , transform 0.3s; }

@media screen and (min-width: 768px) {
  .part-sm-1 {
    width: 8.33333%; }
  .part-sm-2 {
    width: 16.66667%; }
  .part-sm-3 {
    width: 25%; }
  .part-sm-4 {
    width: 33.33333%; }
  .part-sm-5 {
    width: 41.66667%; }
  .part-sm-6 {
    width: 50%; }
  .part-sm-7 {
    width: 58.33333%; }
  .part-sm-8 {
    width: 66.66667%; }
  .part-sm-9 {
    width: 75%; }
  .part-sm-10 {
    width: 83.33333%; }
  .part-sm-11 {
    width: 91.66667%; }
  .part-sm-12 {
    width: 100%; }
  .part-sm-1, .part-sm-2, .part-sm-3, .part-sm-4, .part-sm-5, .part-sm-6, .part-sm-7, .part-sm-8, .part-sm-9, .part-sm-10, .part-sm-11, .part-sm-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  .wrapper {
    padding: 0 30px;
    margin-bottom: 50px; }
  .banner-pic .like {
    font-size: 24px; }
  .banner-txt {
    margin-top: 35px; }
  .score {
    margin-top: 25px; }
    .score .score-text {
      margin-right: 40px; }
    .score .grade span {
      margin-right: 20px; }
  .price {
    margin-top: 30px; }
  .content {
    margin-top: 30px; }
    .content .content-top span {
      margin-right: 40px; }
    .content p {
      margin-top: 25px; }
  .count .count-qty {
    padding: 0; }
    .count .count-qty span {
      height: 48px;
      margin-right: 40px;
      line-height: 48px; }
  .count .count-input input {
    height: 48px; }
  .count .count-input .qty-width {
    width: 48px; }
  .count .count-input .qty {
    width: 100px; }
  .count .count-button {
    margin-top: 0px;
    padding: 0; }
    .count .count-button button {
      height: 48px; }
  .title {
    margin: 100px 0 80px; }
  .member-msg .member-txt .member-letter, .member-msg .member-txt .comments {
    margin-top: 15px; } }

@media screen and (min-width: 1024px) {
  .part-md-1 {
    width: 8.33333%; }
  .part-md-2 {
    width: 16.66667%; }
  .part-md-3 {
    width: 25%; }
  .part-md-4 {
    width: 33.33333%; }
  .part-md-5 {
    width: 41.66667%; }
  .part-md-6 {
    width: 50%; }
  .part-md-7 {
    width: 58.33333%; }
  .part-md-8 {
    width: 66.66667%; }
  .part-md-9 {
    width: 75%; }
  .part-md-10 {
    width: 83.33333%; }
  .part-md-11 {
    width: 91.66667%; }
  .part-md-12 {
    width: 100%; }
  .part-md-1, .part-md-2, .part-md-3, .part-md-4, .part-md-5, .part-md-6, .part-md-7, .part-md-8, .part-md-9, .part-md-10, .part-md-11, .part-md-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  .banner-pic {
    padding: 0 15px 0 0; }
    .banner-pic .like {
      right: 30px; }
  .banner-txt {
    margin-top: 0px;
    padding: 0 0 0 15px; }
  .score {
    margin-top: 15px; }
    .score .score-text {
      margin-right: 25px; }
  .price {
    margin-top: 20px; }
  .content {
    margin-top: 20px; }
    .content p {
      margin-top: 15px; }
  .count .count-qty span {
    height: 40px;
    margin-right: 25px;
    line-height: 40px; }
  .count .count-input input {
    margin-right: 5px;
    height: 40px; }
  .count .count-input .qty-width {
    width: 40px; }
  .count .count-input .qty {
    width: 50px; }
  .count .count-button button {
    height: 40px;
    font-size: 15px; } }

@media screen and (min-width: 1200px) {
  .part-lg-1 {
    width: 8.33333%; }
  .part-lg-2 {
    width: 16.66667%; }
  .part-lg-3 {
    width: 25%; }
  .part-lg-4 {
    width: 33.33333%; }
  .part-lg-5 {
    width: 41.66667%; }
  .part-lg-6 {
    width: 50%; }
  .part-lg-7 {
    width: 58.33333%; }
  .part-lg-8 {
    width: 66.66667%; }
  .part-lg-9 {
    width: 75%; }
  .part-lg-10 {
    width: 83.33333%; }
  .part-lg-11 {
    width: 91.66667%; }
  .part-lg-12 {
    width: 100%; }
  .part-lg-1, .part-lg-2, .part-lg-3, .part-lg-4, .part-lg-5, .part-lg-6, .part-lg-7, .part-lg-8, .part-lg-9, .part-lg-10, .part-lg-11, .part-lg-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  .wrapper {
    width: 1200px;
    padding: 0;
    margin: auto;
    margin-bottom: 50px; }
  .count .count-button button {
    font-size: 16px; } }
