@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  clear: both; }

.part-1, .part-2, .part-3, .part-4, .part-5, .part-6, .part-7, .part-8, .part-9, .part-10, .part-11, .part-12 {
  float: left;
  box-sizing: border-box;
  padding: 10px; }

.part-1 {
  width: 8.33333%; }

.part-2 {
  width: 16.66667%; }

.part-3 {
  width: 25%; }

.part-4 {
  width: 33.33333%; }

.part-5 {
  width: 41.66667%; }

.part-6 {
  width: 50%; }

.part-7 {
  width: 58.33333%; }

.part-8 {
  width: 66.66667%; }

.part-9 {
  width: 75%; }

.part-10 {
  width: 83.33333%; }

.part-11 {
  width: 91.66667%; }

.part-12 {
  width: 100%; }

.eatDetail {
  font-size: 16px;
  font-family: 微軟正黑體, arial, "sans serif"; }
  .eatDetail * {
    outline: 1px solid #f00;
    font-size: 16px;
    color: #333333;
    box-sizing: border-box; }
  .eatDetail .wrap {
    width: 100%;
    padding: 0 16px;
    margin-bottom: 30px;
    line-height: 1.6; }
    .eatDetail .wrap img, .eatDetail .wrap a, .eatDetail .wrap span {
      display: block; }
    .eatDetail .wrap img {
      width: 100%; }
    .eatDetail .wrap a {
      text-decoration: none; }
    .eatDetail .wrap .fl {
      float: left; }
    .eatDetail .wrap .font-blod {
      font-weight: bold; }
    .eatDetail .wrap input, .eatDetail .wrap button {
      border: none;
      font-family: 微軟正黑體, arial, "sans serif"; }
    .eatDetail .wrap h2 {
      font-size: 30px; }
    .eatDetail .wrap i {
      margin-right: 5px; }
  @media screen and (min-width: 768px) {
    .eatDetail .part-sm-1 {
      width: 8.33333%; }
    .eatDetail .part-sm-2 {
      width: 16.66667%; }
    .eatDetail .part-sm-3 {
      width: 25%; }
    .eatDetail .part-sm-4 {
      width: 33.33333%; }
    .eatDetail .part-sm-5 {
      width: 41.66667%; }
    .eatDetail .part-sm-6 {
      width: 50%; }
    .eatDetail .part-sm-7 {
      width: 58.33333%; }
    .eatDetail .part-sm-8 {
      width: 66.66667%; }
    .eatDetail .part-sm-9 {
      width: 75%; }
    .eatDetail .part-sm-10 {
      width: 83.33333%; }
    .eatDetail .part-sm-11 {
      width: 91.66667%; }
    .eatDetail .part-sm-12 {
      width: 100%; }
    .eatDetail .part-sm-1, .eatDetail .part-sm-2, .eatDetail .part-sm-3, .eatDetail .part-sm-4, .eatDetail .part-sm-5, .eatDetail .part-sm-6, .eatDetail .part-sm-7, .eatDetail .part-sm-8, .eatDetail .part-sm-9, .eatDetail .part-sm-10, .eatDetail .part-sm-11, .eatDetail .part-sm-12 {
      float: left;
      box-sizing: border-box;
      padding: 10px; }
    .eatDetail .wrap {
      padding: 0 30px;
      margin-bottom: 50px; } }
  @media screen and (min-width: 1200px) {
    .eatDetail .part-lg-1 {
      width: 8.33333%; }
    .eatDetail .part-lg-2 {
      width: 16.66667%; }
    .eatDetail .part-lg-3 {
      width: 25%; }
    .eatDetail .part-lg-4 {
      width: 33.33333%; }
    .eatDetail .part-lg-5 {
      width: 41.66667%; }
    .eatDetail .part-lg-6 {
      width: 50%; }
    .eatDetail .part-lg-7 {
      width: 58.33333%; }
    .eatDetail .part-lg-8 {
      width: 66.66667%; }
    .eatDetail .part-lg-9 {
      width: 75%; }
    .eatDetail .part-lg-10 {
      width: 83.33333%; }
    .eatDetail .part-lg-11 {
      width: 91.66667%; }
    .eatDetail .part-lg-12 {
      width: 100%; }
    .eatDetail .part-lg-1, .eatDetail .part-lg-2, .eatDetail .part-lg-3, .eatDetail .part-lg-4, .eatDetail .part-lg-5, .eatDetail .part-lg-6, .eatDetail .part-lg-7, .eatDetail .part-lg-8, .eatDetail .part-lg-9, .eatDetail .part-lg-10, .eatDetail .part-lg-11, .eatDetail .part-lg-12 {
      float: left;
      box-sizing: border-box;
      padding: 10px; }
    .eatDetail .wrap {
      width: 1200px;
      padding: 0;
      margin: auto;
      margin-bottom: 50px; } }
  .eatDetail .breadcrumbs {
    margin-top: 110px; }
    .eatDetail .breadcrumbs a:hover {
      color: #425075; }
    .eatDetail .breadcrumbs a:before {
      content: '\203A';
      padding: 0 5px;
      color: #333333; }
    .eatDetail .breadcrumbs a:first-child:before {
      display: none; }
  @media screen and (min-width: 1200px) {
    .eatDetail .part-lg-1 {
      width: 8.33333%; }
    .eatDetail .part-lg-2 {
      width: 16.66667%; }
    .eatDetail .part-lg-3 {
      width: 25%; }
    .eatDetail .part-lg-4 {
      width: 33.33333%; }
    .eatDetail .part-lg-5 {
      width: 41.66667%; }
    .eatDetail .part-lg-6 {
      width: 50%; }
    .eatDetail .part-lg-7 {
      width: 58.33333%; }
    .eatDetail .part-lg-8 {
      width: 66.66667%; }
    .eatDetail .part-lg-9 {
      width: 75%; }
    .eatDetail .part-lg-10 {
      width: 83.33333%; }
    .eatDetail .part-lg-11 {
      width: 91.66667%; }
    .eatDetail .part-lg-12 {
      width: 100%; }
    .eatDetail .part-lg-1, .eatDetail .part-lg-2, .eatDetail .part-lg-3, .eatDetail .part-lg-4, .eatDetail .part-lg-5, .eatDetail .part-lg-6, .eatDetail .part-lg-7, .eatDetail .part-lg-8, .eatDetail .part-lg-9, .eatDetail .part-lg-10, .eatDetail .part-lg-11, .eatDetail .part-lg-12 {
      float: left;
      box-sizing: border-box;
      padding: 10px; }
    .eatDetail .breadcrumbs {
      margin-top: 120px; }
      .eatDetail .breadcrumbs a:before {
        padding: 0 10px; } }
  .eatDetail .banner-pic {
    position: relative;
    z-index: -1; }
    .eatDetail .banner-pic .like {
      background-color: transparent;
      position: absolute;
      right: 0;
      bottom: 0; }
  .eatDetail .banner-txt {
    margin-top: 25px; }
    .eatDetail .banner-txt .product figure {
      margin-left: 10px;
      margin-top: 8px;
      width: 15px; }
    .eatDetail .banner-txt .score, .eatDetail .banner-txt .price, .eatDetail .banner-txt .content {
      margin-top: 15px; }
    .eatDetail .banner-txt .score .score-text {
      margin-right: 10px;
      font-size: 20px; }
    .eatDetail .banner-txt .score .grade span {
      margin-right: 25px;
      font-size: 20px; }
    .eatDetail .banner-txt .score .grade figure {
      width: 25px;
      margin-right: 10px; }
    .eatDetail .banner-txt .price {
      font-size: 24px; }
    .eatDetail .banner-txt .content .content-top span {
      margin-right: 25px;
      font-size: 20px; }
    .eatDetail .banner-txt .content .content-top .kcal span {
      margin-right: 10px;
      font-size: 16px;
      line-height: 32px; }
    .eatDetail .banner-txt .content p {
      margin-top: 10px; }
    .eatDetail .banner-txt .count {
      margin-top: 50px; }
      .eatDetail .banner-txt .count .count-qty span {
        margin-right: 25px;
        font-size: 20px;
        line-height: 40px; }
      .eatDetail .banner-txt .count .count-qty .count-input input {
        margin-right: 15px;
        height: 40px;
        display: inline-block;
        vertical-align: middle; }
      .eatDetail .banner-txt .count .count-qty .count-input .plusAndMinus {
        position: relative;
        width: 40px;
        height: 40px;
        line-height: 35px;
        text-align: center;
        border-radius: 50%;
        background-color: #BB7232;
        box-shadow: 0px 4px 0px #76391B;
        cursor: pointer;
        margin-right: 15px;
        font-size: 20px;
        font-weight: 900;
        color: #FCF2CA; }
        .eatDetail .banner-txt .count .count-qty .count-input .plusAndMinus:hover {
          opacity: .6;
          transition: .3s; }
        .eatDetail .banner-txt .count .count-qty .count-input .plusAndMinus:active {
          top: 2px;
          box-shadow: 0px 2px 0px #76391B; }
      .eatDetail .banner-txt .count .count-qty .count-input .qty {
        width: 100px;
        border: 1px solid #aaa;
        font-size: 20px;
        font-weight: 900;
        text-align: center; }
        .eatDetail .banner-txt .count .count-qty .count-input .qty:focus {
          background-color: #FCF2CA; }
      .eatDetail .banner-txt .count .count-qty .count-input .qty-add {
        margin-right: 0px; }
      .eatDetail .banner-txt .count .count-button {
        padding-top: 100px; }
        .eatDetail .banner-txt .count .count-button .mainBTN {
          position: relative;
          display: inline-block;
          width: 100%;
          height: 40px;
          line-height: 40px;
          text-align: center;
          font-weight: 600;
          color: #76391B;
          background-color: #FCE444;
          box-shadow: 0px 4px 0px #76391B;
          border-radius: 100px;
          transition: .2s;
          cursor: pointer;
          max-width: 45%;
          height: 40px;
          font-size: 20px; }
          .eatDetail .banner-txt .count .count-button .mainBTN:hover {
            opacity: .7;
            transition: .2s; }
          .eatDetail .banner-txt .count .count-button .mainBTN:active {
            top: 2px; }
        .eatDetail .banner-txt .count .count-button .subBTN {
          position: relative;
          display: inline-block;
          width: 100%;
          height: 40px;
          line-height: 40px;
          text-align: center;
          color: #fff;
          background-color: #76391B;
          box-shadow: 0px 4px 0px #FED44F;
          border-radius: 100px;
          transition: .2s;
          cursor: pointer;
          max-width: 45%;
          height: 40px;
          font-size: 20px; }
          .eatDetail .banner-txt .count .count-button .subBTN:hover {
            opacity: .7;
            transition: .2s; }
          .eatDetail .banner-txt .count .count-button .subBTN:active {
            top: 2px; }
          .eatDetail .banner-txt .count .count-button .subBTN i {
            color: #fff; }
        .eatDetail .banner-txt .count .count-button .add-cart {
          float: left; }
        .eatDetail .banner-txt .count .count-button .go-cart {
          float: right; }
  @media screen and (min-width: 768px) {
    .eatDetail .part-sm-1 {
      width: 8.33333%; }
    .eatDetail .part-sm-2 {
      width: 16.66667%; }
    .eatDetail .part-sm-3 {
      width: 25%; }
    .eatDetail .part-sm-4 {
      width: 33.33333%; }
    .eatDetail .part-sm-5 {
      width: 41.66667%; }
    .eatDetail .part-sm-6 {
      width: 50%; }
    .eatDetail .part-sm-7 {
      width: 58.33333%; }
    .eatDetail .part-sm-8 {
      width: 66.66667%; }
    .eatDetail .part-sm-9 {
      width: 75%; }
    .eatDetail .part-sm-10 {
      width: 83.33333%; }
    .eatDetail .part-sm-11 {
      width: 91.66667%; }
    .eatDetail .part-sm-12 {
      width: 100%; }
    .eatDetail .part-sm-1, .eatDetail .part-sm-2, .eatDetail .part-sm-3, .eatDetail .part-sm-4, .eatDetail .part-sm-5, .eatDetail .part-sm-6, .eatDetail .part-sm-7, .eatDetail .part-sm-8, .eatDetail .part-sm-9, .eatDetail .part-sm-10, .eatDetail .part-sm-11, .eatDetail .part-sm-12 {
      float: left;
      box-sizing: border-box;
      padding: 10px; }
    .eatDetail .banner-pic .like, .eatDetail .banner-pic .like i {
      font-size: 20px; }
    .eatDetail .banner-txt {
      margin-top: 50px; }
      .eatDetail .banner-txt .product figure {
        margin-left: 15px;
        width: 20px; }
      .eatDetail .banner-txt .score .grade span {
        margin-right: 40px; }
      .eatDetail .banner-txt .content .content-top span {
        margin-right: 40px; }
      .eatDetail .banner-txt .count .count-qty {
        padding: 0; }
        .eatDetail .banner-txt .count .count-qty span {
          margin-right: 40px;
          line-height: 48px; }
        .eatDetail .banner-txt .count .count-qty .count-input input {
          height: 48px; }
        .eatDetail .banner-txt .count .count-qty .count-input .plusAndMinus {
          position: relative;
          width: 48px;
          height: 48px;
          line-height: 43px;
          text-align: center;
          border-radius: 50%;
          background-color: #BB7232;
          box-shadow: 0px 4px 0px #76391B;
          cursor: pointer; }
          .eatDetail .banner-txt .count .count-qty .count-input .plusAndMinus:hover {
            opacity: .6;
            transition: .3s; }
          .eatDetail .banner-txt .count .count-qty .count-input .plusAndMinus:active {
            top: 2px;
            box-shadow: 0px 2px 0px #76391B; }
      .eatDetail .banner-txt .count .count-button {
        padding: 0; }
        .eatDetail .banner-txt .count .count-button .mainBTN {
          position: relative;
          display: inline-block;
          width: 100%;
          height: 40px;
          line-height: 40px;
          text-align: center;
          font-weight: 600;
          color: #76391B;
          background-color: #FCE444;
          box-shadow: 0px 4px 0px #76391B;
          border-radius: 100px;
          transition: .2s;
          cursor: pointer;
          height: 48px; }
          .eatDetail .banner-txt .count .count-button .mainBTN:hover {
            opacity: .7;
            transition: .2s; }
          .eatDetail .banner-txt .count .count-button .mainBTN:active {
            top: 2px; }
        .eatDetail .banner-txt .count .count-button .subBTN {
          position: relative;
          display: inline-block;
          width: 100%;
          height: 40px;
          line-height: 40px;
          text-align: center;
          color: #fff;
          background-color: #76391B;
          box-shadow: 0px 4px 0px #FED44F;
          border-radius: 100px;
          transition: .2s;
          cursor: pointer;
          height: 48px; }
          .eatDetail .banner-txt .count .count-button .subBTN:hover {
            opacity: .7;
            transition: .2s; }
          .eatDetail .banner-txt .count .count-button .subBTN:active {
            top: 2px; } }
  @media screen and (min-width: 1024px) {
    .eatDetail .part-md-1 {
      width: 8.33333%; }
    .eatDetail .part-md-2 {
      width: 16.66667%; }
    .eatDetail .part-md-3 {
      width: 25%; }
    .eatDetail .part-md-4 {
      width: 33.33333%; }
    .eatDetail .part-md-5 {
      width: 41.66667%; }
    .eatDetail .part-md-6 {
      width: 50%; }
    .eatDetail .part-md-7 {
      width: 58.33333%; }
    .eatDetail .part-md-8 {
      width: 66.66667%; }
    .eatDetail .part-md-9 {
      width: 75%; }
    .eatDetail .part-md-10 {
      width: 83.33333%; }
    .eatDetail .part-md-11 {
      width: 91.66667%; }
    .eatDetail .part-md-12 {
      width: 100%; }
    .eatDetail .part-md-1, .eatDetail .part-md-2, .eatDetail .part-md-3, .eatDetail .part-md-4, .eatDetail .part-md-5, .eatDetail .part-md-6, .eatDetail .part-md-7, .eatDetail .part-md-8, .eatDetail .part-md-9, .eatDetail .part-md-10, .eatDetail .part-md-11, .eatDetail .part-md-12 {
      float: left;
      box-sizing: border-box;
      padding: 10px; }
    .eatDetail .banner-pic {
      padding: 0 20px 0 0;
      position: static; }
      .eatDetail .banner-pic .like {
        position: static;
        float: right; }
    .eatDetail .banner-txt {
      margin-top: 0px;
      padding: 0 0 0 20px; }
      .eatDetail .banner-txt .count {
        margin-top: 30px; }
        .eatDetail .banner-txt .count .count-button {
          padding-top: 50px; } }
  @media screen and (min-width: 1200px) {
    .eatDetail .part-lg-1 {
      width: 8.33333%; }
    .eatDetail .part-lg-2 {
      width: 16.66667%; }
    .eatDetail .part-lg-3 {
      width: 25%; }
    .eatDetail .part-lg-4 {
      width: 33.33333%; }
    .eatDetail .part-lg-5 {
      width: 41.66667%; }
    .eatDetail .part-lg-6 {
      width: 50%; }
    .eatDetail .part-lg-7 {
      width: 58.33333%; }
    .eatDetail .part-lg-8 {
      width: 66.66667%; }
    .eatDetail .part-lg-9 {
      width: 75%; }
    .eatDetail .part-lg-10 {
      width: 83.33333%; }
    .eatDetail .part-lg-11 {
      width: 91.66667%; }
    .eatDetail .part-lg-12 {
      width: 100%; }
    .eatDetail .part-lg-1, .eatDetail .part-lg-2, .eatDetail .part-lg-3, .eatDetail .part-lg-4, .eatDetail .part-lg-5, .eatDetail .part-lg-6, .eatDetail .part-lg-7, .eatDetail .part-lg-8, .eatDetail .part-lg-9, .eatDetail .part-lg-10, .eatDetail .part-lg-11, .eatDetail .part-lg-12 {
      float: left;
      box-sizing: border-box;
      padding: 10px; }
    .eatDetail .banner-pic.part-md-6.part-lg-6 {
      padding: 0 30px 0 0; }
    .eatDetail .banner-txt.part-md-6.part-lg-6 {
      padding: 0 0 0 30px; } }
  .eatDetail .member-title {
    margin: 80px 0 30px;
    font-size: 36px;
    text-align: center; }
  .eatDetail .member-msg {
    margin-top: 30px;
    border: 1px solid #aaa;
    border-radius: 10px; }
    .eatDetail .member-msg .member-txt .member-letter {
      width: 100%;
      margin-top: 15px;
      border: 1px solid #aaa;
      overflow: auto; }
    .eatDetail .member-msg .member-txt .nextBTN {
      position: relative;
      display: inline-block;
      width: auto;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #fff;
      background-color: #76391B;
      box-shadow: 0px 4px 0px #FED44F;
      border-radius: 100px;
      transition: .2s;
      cursor: pointer;
      margin-top: 10px;
      padding: 0 10px;
      font-size: 16px;
      background-color: #BB7232;
      color: #fff;
      float: right; }
      .eatDetail .member-msg .member-txt .nextBTN:hover {
        opacity: .7;
        transition: .2s; }
      .eatDetail .member-msg .member-txt .nextBTN:active {
        top: 2px; }
    .eatDetail .member-msg .comments-time {
      margin-top: 5px;
      font-size: 12px; }
  @media screen and (min-width: 1200px) {
    .eatDetail .part-lg-1 {
      width: 8.33333%; }
    .eatDetail .part-lg-2 {
      width: 16.66667%; }
    .eatDetail .part-lg-3 {
      width: 25%; }
    .eatDetail .part-lg-4 {
      width: 33.33333%; }
    .eatDetail .part-lg-5 {
      width: 41.66667%; }
    .eatDetail .part-lg-6 {
      width: 50%; }
    .eatDetail .part-lg-7 {
      width: 58.33333%; }
    .eatDetail .part-lg-8 {
      width: 66.66667%; }
    .eatDetail .part-lg-9 {
      width: 75%; }
    .eatDetail .part-lg-10 {
      width: 83.33333%; }
    .eatDetail .part-lg-11 {
      width: 91.66667%; }
    .eatDetail .part-lg-12 {
      width: 100%; }
    .eatDetail .part-lg-1, .eatDetail .part-lg-2, .eatDetail .part-lg-3, .eatDetail .part-lg-4, .eatDetail .part-lg-5, .eatDetail .part-lg-6, .eatDetail .part-lg-7, .eatDetail .part-lg-8, .eatDetail .part-lg-9, .eatDetail .part-lg-10, .eatDetail .part-lg-11, .eatDetail .part-lg-12 {
      float: left;
      box-sizing: border-box;
      padding: 10px; }
    .eatDetail .member-title {
      margin: 80px 0 50px; } }
