@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體; }

@media screen and (min-width: 767px) {
  .part-1, .part-2, .part-3, .part-4, .part-5, .part-6, .part-7, .part-8, .part-9, .part-10, .part-11, .part-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  .part-1 {
    width: 8.33333%; }
  .part-2 {
    width: 16.66667%; }
  .part-3 {
    width: 25%; }
  .part-4 {
    width: 33.33333%; }
  .part-5 {
    width: 41.66667%; }
  .part-6 {
    width: 50%; }
  .part-7 {
    width: 58.33333%; }
  .part-8 {
    width: 66.66667%; }
  .part-9 {
    width: 75%; }
  .part-10 {
    width: 83.33333%; }
  .part-11 {
    width: 91.66667%; }
  .part-12 {
    width: 100%; }
  header {
    width: 100%;
    height: 100px;
    background-color: #ff03; }
  .coll_slogan {
    width: 100%;
    height: 150px;
    background-color: #BB7232;
    font-size: 0; }
  .coll_slogan_title {
    width: 50%;
    display: inline-block; }
  .coll_slogan_title p {
    max-width: 600px;
    font-size: 30px;
    margin: auto;
    padding: 10px 0; }
  .coll_slogan_left {
    text-align: left; }
  .coll_slogan_right {
    text-align: right; }
  .coll_slogan_pic {
    width: 50%;
    display: inline-block; }
  .jump {
    -webkit-animation: 5s jump linear infinite;
    animation: 5s jump linear infinite; }
  @keyframes jump {
    0% {
      -webkit-transform: scale(0, 0);
      transform: scale(0, 0); }
    2% {
      -webkit-transform: scale(0.29255, 0.54538);
      transform: scale(0.29255, 0.54538); }
    4% {
      -webkit-transform: scale(0.78855, 1.12038);
      transform: scale(0.78855, 1.12038); }
    6% {
      -webkit-transform: scale(1.12038, 1.18481);
      transform: scale(1.12038, 1.18481); }
    8% {
      -webkit-transform: scale(1.20745, 1.03725);
      transform: scale(1.20745, 1.03725); }
    10% {
      -webkit-transform: scale(1.13967, 0.95915);
      transform: scale(1.13967, 0.95915); }
    12% {
      -webkit-transform: scale(1.03725, 0.97253);
      transform: scale(1.03725, 0.97253); }
    14% {
      -webkit-transform: scale(0.97203, 1.00138);
      transform: scale(0.97203, 1.00138); }
    16% {
      -webkit-transform: scale(0.95714, 1.00882);
      transform: scale(0.95714, 1.00882); }
    18% {
      -webkit-transform: scale(0.97253, 1.00309);
      transform: scale(0.97253, 1.00309); }
    20% {
      -webkit-transform: scale(0.9936, 0.99857);
      transform: scale(0.9936, 0.99857); }
    22% {
      -webkit-transform: scale(1.00637, 0.9985);
      transform: scale(1.00637, 0.9985); }
    24% {
      -webkit-transform: scale(1.00882, 0.99983);
      transform: scale(1.00882, 0.99983); }
    26% {
      -webkit-transform: scale(1.00538, 1.00039);
      transform: scale(1.00538, 1.00039); }
    28% {
      -webkit-transform: scale(1.00106, 1.0002);
      transform: scale(1.00106, 1.0002); }
    30% {
      -webkit-transform: scale(0.99857, 0.99996);
      transform: scale(0.99857, 0.99996); }
    32% {
      -webkit-transform: scale(0.99819, 0.99992);
      transform: scale(0.99819, 0.99992); }
    34% {
      -webkit-transform: scale(0.99895, 0.99998);
      transform: scale(0.99895, 0.99998); }
    36% {
      -webkit-transform: scale(0.99983, 1.00001);
      transform: scale(0.99983, 1.00001); }
    38% {
      -webkit-transform: scale(1.00032, 1.00001);
      transform: scale(1.00032, 1.00001); }
    40% {
      -webkit-transform: scale(1.00037, 1.0);
      transform: scale(1.00037, 1.0); }
    42% {
      -webkit-transform: scale(1.0002, 1.0);
      transform: scale(1.0002, 1.0); }
    44% {
      -webkit-transform: scale(1.00002, 1.0);
      transform: scale(1.00002, 1.0); }
    46% {
      -webkit-transform: scale(0.99993, 1.0);
      transform: scale(0.99993, 1.0); }
    48% {
      -webkit-transform: scale(0.99992, 1.0);
      transform: scale(0.99992, 1.0); }
    50% {
      -webkit-transform: scale(0.99996, 1.0);
      transform: scale(0.99996, 1.0); }
    52% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0); }
    54% {
      -webkit-transform: scale(1.00001, 1.0);
      transform: scale(1.00001, 1.0); }
    56% {
      -webkit-transform: scale(1.00002, 1.0);
      transform: scale(1.00002, 1.0); }
    58% {
      -webkit-transform: scale(1.00001, 1.0);
      transform: scale(1.00001, 1.0); }
    60% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0); }
    62% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0); }
    64% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0); }
    66% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0); }
    68% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0); }
    70% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0); }
    72% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0); }
    74% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0); }
    76% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0); }
    78% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0); }
    80% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0); }
    82% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0); }
    84% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0); }
    86% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0); }
    88% {
      -webkit-transform: scale(1.0, 1);
      transform: scale(1.0, 1); }
    90% {
      -webkit-transform: scale(1.0, 1);
      transform: scale(1.0, 1); }
    92% {
      -webkit-transform: scale(1.0, 1);
      transform: scale(1.0, 1); }
    94% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0); }
    96% {
      -webkit-transform: scale(1.0, 1);
      transform: scale(1.0, 1); }
    98% {
      -webkit-transform: scale(1.0, 1);
      transform: scale(1.0, 1); }
    100% {
      -webkit-transform: scale(1.0, 1);
      transform: scale(1.0, 1); }
    0% {
      opacity: 1; }
    50% {
      opacity: 1; }
    90% {
      opacity: 0; }
    100% {
      opacity: 0; } }
  .coll_slogan_pic_icon {
    width: 5%; }
  .move {
    animation: shake-slowNoMove 10s ease-in-out infinite; }
  @keyframes shake-slowNoMove {
    0% {
      transform: translate(0, 0) rotate(0); }
    2% {
      transform: translate(2px, -9px) rotate(2.5deg); }
    4% {
      transform: translate(-4px, 5px) rotate(-2.5deg); }
    6% {
      transform: translate(-8px, 8px) rotate(3.5deg); }
    8% {
      transform: translate(-7px, 4px) rotate(-1.5deg); }
    10% {
      transform: translate(7px, 0px) rotate(1.5deg); }
    12% {
      transform: translate(3px, 8px) rotate(-0.5deg); }
    14% {
      transform: translate(4px, 4px) rotate(0.5deg); }
    16% {
      transform: translate(-4px, -4px) rotate(3.5deg); }
    18% {
      transform: translate(-8px, -7px) rotate(3.5deg); }
    20% {
      transform: translate(-9px, 8px) rotate(2.5deg); }
    22% {
      transform: translate(-9px, -5px) rotate(-2.5deg); }
    24% {
      transform: translate(4px, -7px) rotate(-2.5deg); }
    26% {
      transform: translate(-1px, 3px) rotate(1.5deg); }
    28% {
      transform: translate(-3px, -7px) rotate(3.5deg); }
    30% {
      transform: translate(6px, -9px) rotate(2.5deg); }
    32% {
      transform: translate(8px, -5px) rotate(-2.5deg); }
    34% {
      transform: translate(7px, 8px) rotate(1.5deg); }
    36% {
      transform: translate(2px, 5px) rotate(-2.5deg); }
    38% {
      transform: translate(-6px, 0px) rotate(2.5deg); }
    40% {
      transform: translate(9px, 7px) rotate(-2.5deg); }
    42% {
      transform: translate(-2px, -2px) rotate(-0.5deg); }
    44% {
      transform: translate(0px, -6px) rotate(-2.5deg); }
    46% {
      transform: translate(-5px, 2px) rotate(1.5deg); }
    48% {
      transform: translate(-8px, -7px) rotate(3.5deg); }
    50% {
      transform: translate(-5px, -6px) rotate(-2.5deg); }
    52% {
      transform: translate(8px, 1px) rotate(-2.5deg); }
    54% {
      transform: translate(-1px, -1px) rotate(-2.5deg); }
    56% {
      transform: translate(5px, -1px) rotate(2.5deg); }
    58% {
      transform: translate(-6px, -8px) rotate(-2.5deg); }
    60% {
      transform: translate(5px, 5px) rotate(3.5deg); }
    62% {
      transform: translate(-4px, -2px) rotate(1.5deg); }
    64% {
      transform: translate(-5px, 7px) rotate(3.5deg); }
    66% {
      transform: translate(7px, 4px) rotate(0.5deg); }
    68% {
      transform: translate(-5px, -2px) rotate(-2.5deg); }
    70% {
      transform: translate(1px, 3px) rotate(-1.5deg); }
    72% {
      transform: translate(-6px, 0px) rotate(2.5deg); }
    74% {
      transform: translate(1px, 9px) rotate(2.5deg); }
    76% {
      transform: translate(10px, -5px) rotate(-2.5deg); }
    78% {
      transform: translate(-5px, 4px) rotate(3.5deg); }
    80% {
      transform: translate(-6px, 1px) rotate(0.5deg); }
    82% {
      transform: translate(9px, 10px) rotate(2.5deg); }
    84% {
      transform: translate(-1px, 5px) rotate(-1.5deg); }
    86% {
      transform: translate(4px, 1px) rotate(2.5deg); }
    88% {
      transform: translate(-5px, -7px) rotate(1.5deg); }
    90% {
      transform: translate(-8px, -2px) rotate(0.5deg); }
    92% {
      transform: translate(10px, -9px) rotate(-0.5deg); }
    94% {
      transform: translate(7px, 6px) rotate(-0.5deg); }
    96% {
      transform: translate(6px, 1px) rotate(-2.5deg); }
    98% {
      transform: translate(5px, 0px) rotate(1.5deg); }
    100% {
      transform: translate(0, 0) rotate(0); } }
  .coll_panel {
    width: calc(25% - 20px);
    display: block; }
  .coll_total {
    max-width: 200px;
    width: 100%;
    height: 200px;
    border-radius: 999px;
    background-color: #E69500;
    margin: 35px 26% 0;
    z-index: 2; }
  .coll_total_num {
    text-align: center;
    font-size: 30px;
    max-width: 50px;
    width: 100%;
    height: 50px;
    border-radius: 999px;
    background-color: #FFBA3B;
    color: #fff;
    box-sizing: border-box;
    padding: 8px 0px 0 2px;
    margin: 30px 65px; }
  .coll_total_title {
    margin: 20px 0;
    text-align: center;
    font-size: 20px; }
  .coll_total_s {
    display: none; }
  .coll_kind {
    max-width: 350px;
    box-sizing: border-box;
    border: 15px #bc5437 solid;
    border-radius: 10px;
    width: 100%;
    background-color: #fff;
    margin: 140px 10% 0;
    padding: 80px 0 0 0px;
    box-shadow: 2px 2px 4px 4px #ddd;
    z-index: 0; }
  .coll_kind_item {
    width: calc(33.33333% - 10px);
    display: inline-block;
    float: none;
    font-size: 0px; }
  .coll_kind_item p {
    font-size: 30px;
    margin: 5px auto;
    text-align: center; }
  .coll_kind_item_text {
    color: #333333;
    font-size: 24px; }
  .kind_icon {
    width: 100%;
    margin: 20px 0;
    position: relative; }
  .kind_icon:hover {
    animation: up_down 0.2s ease infinite; }
  @keyframes up_down {
    0% {
      top: 0; }
    50% {
      top: -2px; }
    100% {
      top: 2px; } }
  .coll_title {
    background-color: #FCF2A8; }
  .coll_title_kind {
    margin: 0 0 50px 0; }
  .coll_kind_item_title {
    background-color: #333333;
    color: #fff;
    border: 2px #333333 solid;
    border-radius: 10px;
    box-sizing: border-box; }
  .coll_title_kind_text {
    width: 10%;
    height: 50px; }
  .title_kind_icon {
    width: 50%;
    text-align: center;
    display: block;
    margin: auto; }
  .coll_title_kind_line {
    width: 45%;
    height: 100px; }
  .coll_title_kind_text p {
    font-size: 30px;
    text-align: center; }
  .title_kind_line_icon {
    width: 100%;
    height: 100px;
    display: block;
    margin: auto; }
  .coll_food {
    width: calc(25% - 20px);
    box-sizing: border-box;
    border: 2px solid #fff;
    margin: 0 10px;
    font-size: 0px;
    background-color: #fff;
    border-radius: 20px; }
  .coll_food_X {
    border-bottom: 2px solid #333333; }
  .coll_food_X_icon {
    float: right;
    width: 5%; }
  .coll_food_title p {
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    border: 2px #ccc solid;
    border-radius: 10px;
    background-color: #BB7232;
    color: #fff; }
  .coll_food_score {
    margin: 10px 0;
    text-align: center; }
  .coll_food_title_icon {
    width: 13%;
    margin: 0 2px; }
  .coll_food_info {
    float: none;
    display: none; }
  .coll_food_info p {
    font-size: 16px;
    line-height: 1.6; }
  .coll_food_price {
    float: left; }
  .coll_food_price p {
    color: #333333;
    font-size: 30px;
    padding: 0 0 0 0;
    text-align: center; }
  .coll_food_pic {
    text-align: center; }
  .coll_food_pic_icon {
    width: 80%;
    margin: auto;
    text-align: center; }
  .coll_food_shop {
    float: right;
    text-align: center; }
  .coll_food_shop_button {
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle; }
  .coll_food_shop_text {
    display: inline-block;
    vertical-align: baseline;
    font-size: 20px;
    margin: 0px;
    color: #BB7232;
    padding: 0 5px; }
  .coll_food_shop_icon {
    margin: 0px 0 0px 5px;
    display: inline-block;
    vertical-align: baseline;
    width: 13%; } }

@media screen and (max-width: 1200px) {
  * {
    margin: 0;
    padding: 0; }
  .part-l-1, .part-l-2, .part-l-3, .part-l-4, .part-l-5, .part-l-6, .part-l-7, .part-l-8, .part-l-9, .part-l-10, .part-l-11, .part-l-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  .part-l-1 {
    width: 8.33333%; }
  .part-l-2 {
    width: 16.66667%; }
  .part-l-3 {
    width: 25%; }
  .part-l-4 {
    width: 33.33333%; }
  .part-l-5 {
    width: 41.66667%; }
  .part-l-6 {
    width: 50%; }
  .part-l-7 {
    width: 58.33333%; }
  .part-l-8 {
    width: 66.66667%; }
  .part-l-9 {
    width: 75%; }
  .part-l-10 {
    width: 83.33333%; }
  .part-l-11 {
    width: 91.66667%; }
  .part-l-12 {
    width: 100%; }
  header {
    width: 100%;
    height: 100px;
    background-color: #ff03; }
  .coll_slogan {
    width: 100%;
    height: 150px;
    background-color: #BB7232;
    font-size: 0; }
  .coll_slogan_title {
    width: 100%;
    display: inline-block; }
  .coll_slogan_title p {
    font-size: 20px;
    margin: auto;
    padding: 10px 0; }
  .coll_slogan_right {
    text-align: right; }
  .coll_slogan_pic {
    width: 50%; }
  .coll_slogan_pic_icon {
    width: 5%; }
  .coll_panel {
    width: 100%;
    display: block;
    font-size: 0; }
  .coll_total {
    max-width: 100px;
    height: 100px;
    border-radius: 999px;
    background-color: #FFBA3B;
    margin: 10px 0 10px 10%;
    z-index: 2;
    float: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 0; }
  .coll_total_num {
    text-align: center;
    padding: 25px;
    margin: 0;
    font-size: 30px; }
  .coll_total_title {
    font-size: 16px;
    display: none; }
  .coll_total_s {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin: 20px 0px 0 20px; }
  .coll_total_s p {
    font-size: 24px;
    min-width: 170px; }
  .coll_kind {
    box-sizing: border-box;
    border: 15px #bc5437 solid;
    border-radius: 10px;
    width: 80%;
    max-width: none;
    background-color: #fff;
    box-shadow: 2px 2px 4px 4px #ddd;
    z-index: 0;
    margin: 0 10%;
    padding: 0; }
  .coll_kind_item {
    float: none;
    display: inline-block; }
  .coll_kind_item p {
    font-size: 18px;
    margin: 10px auto;
    text-align: center; }
  .kind_icon {
    display: block;
    width: 100%;
    margin: 5px auto;
    text-align: center; }
  .coll_kind_item_text {
    margin: 2px 0; }
  .coll_title {
    background-color: #FCF2A8;
    margin: 0;
    padding: 0; }
  .coll_kind_item_title {
    background-color: #333333;
    color: #fff; }
  .coll_title_kind {
    font-size: 0;
    padding: 0; }
  .title_kind_icon {
    width: 25%;
    text-align: center;
    display: block;
    margin: auto; }
  .coll_title_kind_line {
    width: 25%;
    height: 50px;
    display: inline-block;
    font-size: 0px;
    padding: 0; }
  .coll_title_kind_text {
    font-size: 0px;
    width: 50%;
    height: 50px;
    display: inline-block;
    height: 120px;
    text-align: center;
    padding: 0; }
  .title_kind_line_icon {
    font-size: 0px;
    width: 100%;
    height: 100px;
    display: inline-block;
    margin: auto;
    padding: 0; }
  .coll_title_kind_text p {
    margin: auto;
    font-size: 24px;
    display: inline-block;
    padding: 0; }
  .coll_food {
    width: calc(50% - 10px);
    box-sizing: border-box;
    margin: 5px 5px;
    border: 2px solid #fff;
    border-radius: 20px; }
  .coll_food_X_icon {
    float: right;
    width: 10%; }
  .coll_food_title p {
    line-height: 40px;
    font-size: 24px;
    text-align: center; }
  .coll_food_score {
    margin: auto;
    text-align: center; }
  .coll_food_title_icon {
    width: 15%;
    margin: auto; }
  .coll_food_info {
    display: none; }
  .coll_food_info_text {
    padding: 1px; }
  .coll_food_price p {
    color: #333333;
    font-size: 30px;
    padding: 0 0 0 0;
    text-align: center;
    margin: 10px 0; }
  .coll_food_pic_icon {
    width: 80%;
    display: block;
    margin: auto;
    text-align: center; }
  .coll_food_shop {
    float: right;
    text-align: center; }
  .coll_food_shop_text {
    font-size: 20px;
    display: inline-block;
    vertical-align: baseline; }
  .coll_food_shop_icon {
    display: inline-block;
    vertical-align: baseline;
    width: 15%;
    margin: 0px 0 -4px 5px; } }

@media screen and (max-width: 767px) {
  * {
    margin: 0;
    padding: 0; }
  .part-s-1, .part-s-2, .part-s-3, .part-s-4, .part-s-5, .part-s-6, .part-s-7, .part-s-8, .part-s-9, .part-s-10, .part-s-11, .part-s-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  .part-s-1 {
    width: 8.33333%; }
  .part-s-2 {
    width: 16.66667%; }
  .part-s-3 {
    width: 25%; }
  .part-s-4 {
    width: 33.33333%; }
  .part-s-5 {
    width: 41.66667%; }
  .part-s-6 {
    width: 50%; }
  .part-s-7 {
    width: 58.33333%; }
  .part-s-8 {
    width: 66.66667%; }
  .part-s-9 {
    width: 75%; }
  .part-s-10 {
    width: 83.33333%; }
  .part-s-11 {
    width: 91.66667%; }
  .part-s-12 {
    width: 100%; }
  header {
    width: 100%;
    height: 100px;
    background-color: #ff03; }
  .coll_slogan {
    width: 100%;
    height: 150px;
    background-color: #BB7232;
    font-size: 0; }
  .coll_slogan_title {
    width: 100%;
    display: inline-block; }
  .coll_slogan_title p {
    font-size: 20px;
    margin: auto;
    padding: 10px 0; }
  .coll_slogan_right {
    text-align: right; }
  .coll_slogan_pic {
    width: 50%; }
  .coll_slogan_pic_icon {
    width: 5%; }
  .coll_panel {
    width: 100%;
    height: 400px;
    display: block;
    font-size: 0; }
  .coll_total {
    max-width: 100px;
    height: 100px;
    border-radius: 999px;
    background-color: #FFBA3B;
    margin: 10px 0 10px 10%;
    z-index: 2;
    float: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 0; }
  .coll_total_num {
    text-align: center;
    padding: 25px 0 25px;
    font-size: 30px; }
  .coll_total_title {
    font-size: 16px;
    display: none; }
  .coll_total_s {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin: 20px 0px 0 20px; }
  .coll_total_s p {
    font-size: 24px;
    min-width: 170px; }
  .coll_kind {
    margin: 0;
    padding: 0; }
  .coll_kine_item {
    margin: 0 5px;
    width: calc(16.66667% - 10px); }
  .coll_kind_item p {
    font-size: 18px;
    margin: 10px auto;
    text-align: center; }
  .kind_icon {
    display: block;
    width: 100%;
    margin: 5px auto;
    text-align: center; }
  .coll_kind_item_text {
    margin: 2px 0; }
  .coll_title {
    background-color: #FCF2A8; }
  .coll_kind_item_title {
    background-color: #333333;
    color: #fff; }
  .coll_title_kind {
    margin: 0 0 0px 0;
    font-size: 0;
    padding: 0; }
  .title_kind_icon {
    width: 40%;
    text-align: center;
    display: block;
    margin: auto; }
  .coll_title_kind_line {
    width: 25%;
    height: 50px;
    display: inline-block;
    font-size: 0px;
    padding: 0; }
  .coll_title_kind_text {
    font-size: 0px;
    width: 50%;
    height: 50px;
    display: inline-block;
    height: 120px;
    text-align: center;
    padding: 0; }
  .title_kind_line_icon {
    font-size: 0px;
    width: 100%;
    height: 100px;
    display: inline-block;
    margin: auto;
    padding: 0; }
  .coll_title_kind_text p {
    margin: auto;
    font-size: 24px;
    display: inline-block;
    padding: 0; }
  .coll_food {
    width: calc(50% - 10px);
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 20px;
    margin: 5px 5px;
    background-color: #fff; }
  .coll_food_X_icon {
    float: right;
    width: 10%; }
  .coll_food_title p {
    line-height: 40px;
    font-size: 24px;
    text-align: center; }
  .coll_food_score {
    margin: auto;
    text-align: center; }
  .coll_food_title_icon {
    width: 15%;
    margin: auto; }
  .coll_food_info {
    display: none; }
  .coll_food_info_text {
    padding: 1px; }
  .coll_food_price p {
    color: #333333;
    font-size: 30px;
    padding: 0 0 0 0;
    text-align: center;
    margin: 10px 0; }
  .coll_food_pic_icon {
    width: 80%;
    display: block;
    margin: auto;
    text-align: center; }
  .coll_food_shop {
    float: right;
    text-align: center; }
  .coll_food_shop_text {
    font-size: 20px;
    display: inline-block;
    vertical-align: baseline; }
  .coll_food_shop_icon {
    display: inline-block;
    vertical-align: baseline;
    width: 15%;
    margin: 0px 0 -4px 5px; } }
