@charset "UTF-8";
.grid-1 {
  width: 8.33333%;
  float: left; }

.grid-2 {
  width: 16.66667%;
  float: left; }

.grid-3 {
  width: 25%;
  float: left; }

.grid-4 {
  width: 33.33333%;
  float: left; }

.grid-5 {
  width: 41.66667%;
  float: left; }

.grid-6 {
  width: 50%;
  float: left; }

.grid-7 {
  width: 58.33333%;
  float: left; }

.grid-8 {
  width: 66.66667%;
  float: left; }

.grid-9 {
  width: 75%;
  float: left; }

.grid-10 {
  width: 83.33333%;
  float: left; }

.grid-11 {
  width: 91.66667%;
  float: left; }

.grid-12 {
  width: 100%;
  float: left; }

@media screen and (min-width: 768px) {
  .grid-md-1 {
    width: 8.33333%; }
  .grid-md-2 {
    width: 16.66667%; }
  .grid-md-3 {
    width: 25%; }
  .grid-md-4 {
    width: 33.33333%; }
  .grid-md-5 {
    width: 41.66667%; }
  .grid-md-6 {
    width: 50%; }
  .grid-md-7 {
    width: 58.33333%; }
  .grid-md-8 {
    width: 66.66667%; }
  .grid-md-9 {
    width: 75%; }
  .grid-md-10 {
    width: 83.33333%; }
  .grid-md-11 {
    width: 91.66667%; }
  .grid-md-12 {
    width: 100%; } }

@media screen and (min-width: 1024px) {
  .grid-lg-1 {
    width: 8.33333%; }
  .grid-lg-2 {
    width: 16.66667%; }
  .grid-lg-3 {
    width: 25%; }
  .grid-lg-4 {
    width: 33.33333%; }
  .grid-lg-5 {
    width: 41.66667%; }
  .grid-lg-6 {
    width: 50%; }
  .grid-lg-7 {
    width: 58.33333%; }
  .grid-lg-8 {
    width: 66.66667%; }
  .grid-lg-9 {
    width: 75%; }
  .grid-lg-10 {
    width: 83.33333%; }
  .grid-lg-11 {
    width: 91.66667%; }
  .grid-lg-12 {
    width: 100%; } }

::-webkit-scrollbar {
  width: 8px;
  opacity: .6; }

::-webkit-scrollbar-thumb {
  background: #76391B;
  border-radius: 10px; }

::-webkit-scrollbar-track {
  background-color: #FCF2CA; }

* {
  box-sizing: border-box;
  line-height: 1.6; }

button {
  border: none; }

body {
  font-family: 微軟正黑體, arial;
  font-size: 16px; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.maxWidthWrapper {
  max-width: 1200px;
  margin: auto;
  width: 100%; }

a {
  text-decoration: none; }

h1 {
  font-weight: 800;
  font-size: 30px;
  padding: 10px;
  text-align: center; }

h2 {
  font-weight: 600;
  font-size: 24px;
  color: #76391B;
  text-align: center; }

.pic {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 0; }
  .pic img {
    width: 100%;
    display: inline-block;
    vertical-align: middle; }
  .pic:after {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle; }

.step-wrapper {
  max-width: 800px;
  text-align: center;
  margin: auto; }
  .step-wrapper li span {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 20px auto;
    line-height: 60px;
    display: block;
    border-radius: 50%;
    background-color: #fff;
    color: #76391B;
    border: 2px solid #76391B;
    font-size: 24px;
    font-weight: 600; }
    .step-wrapper li span.active {
      background-color: #76391B;
      color: #fff; }
  .step-wrapper li:nth-child(n+2) span:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 30px;
    right: 0;
    width: 35vw;
    max-width: 300px;
    height: 2px;
    background-color: #76391B; }

.chooseDay-wrapper {
  position: relative;
  margin: 100px auto 0px;
  padding: 50px;
  border-radius: 50px;
  border: 2px solid #FCE444; }
  .chooseDay-wrapper h2 {
    display: inline;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    width: 300px;
    margin: auto;
    padding: 10px;
    background-color: #fff; }
  .chooseDay-wrapper .element-day {
    margin: auto;
    font-size: 0;
    text-align: center; }
    .chooseDay-wrapper .element-day input {
      display: none; }
    .chooseDay-wrapper .element-day input[type="radio"]:checked + label {
      background-color: #76391B;
      color: #fff;
      transition: 0.2s;
      cursor: pointer; }
    .chooseDay-wrapper .element-day label {
      width: 80px;
      height: 80px;
      background-color: #fff;
      color: #76391B;
      vertical-align: middle;
      display: inline-block;
      font-size: 16px;
      border: 2px solid #76391B;
      border-radius: 10px;
      margin: 4px; }
      .chooseDay-wrapper .element-day label span {
        display: block;
        line-height: 50px;
        font-size: 24px;
        font-weight: 800; }
      .chooseDay-wrapper .element-day label:hover {
        background-color: #76391B;
        color: #fff;
        transition: 0.2s;
        cursor: pointer; }

.name-container {
  position: relative;
  margin: 100px auto 0px;
  padding: 50px;
  border-radius: 50px;
  border: 2px solid #FCE444; }
  .name-container h2 {
    display: inline;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    width: 400px;
    margin: auto;
    padding: 10px;
    background-color: #fff; }
  .name-container h3 {
    margin-left: 20px; }
  .name-container input {
    padding: 10px;
    border-radius: 100px;
    border: 2px solid #76391B;
    width: calc(100% - 40px);
    max-width: 500px;
    margin: 20px;
    font-size: 20px;
    font-family: 微軟正黑體, arial;
    text-align: center; }
    .name-container input:focus + .hint {
      opacity: .8;
      color: #fff;
      border-width: 4px;
      transition: .2s; }
  .name-container .randomTitle {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #76391B;
    color: #fff;
    border-radius: 100px;
    transition: .2s;
    cursor: pointer;
    display: block;
    margin-left: 20px; }
    .name-container .randomTitle:hover {
      opacity: .7; }
    .name-container .randomTitle:hover {
      opacity: .7;
      transition: .2s; }
  .name-container .input-wrapper {
    position: relative; }
    .name-container .input-wrapper input {
      font-weight: 800; }
    .name-container .input-wrapper .hint {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 200px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      background-color: #333333;
      border-radius: 10px;
      transition: .3s;
      opacity: .0;
      top: 100px;
      color: #fff;
      line-height: 1.6; }
      .name-container .input-wrapper .hint:after {
        content: '';
        display: block;
        position: absolute;
        top: -6px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0px;
        border-width: 0px 6px 6px;
        border-style: solid;
        border-color: transparent transparent #333333; }
  .name-container select {
    padding: 10px;
    border-radius: 100px;
    border: 2px solid #76391B;
    width: calc(100% - 40px);
    margin: 20px;
    font-size: 20px; }

.btn-container {
  margin: 60px auto 100px;
  text-align: center;
  font-size: 0; }
  .btn-container .check-BTN,
  .btn-container .cancel-BTN {
    position: relative;
    display: inline-block;
    width: 240px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #76391B;
    color: #fff;
    border-radius: 100px;
    transition: .2s;
    cursor: pointer;
    max-width: calc(50% - 20px);
    margin: 10px;
    font-size: 20px; }
    .btn-container .check-BTN:hover,
    .btn-container .cancel-BTN:hover {
      opacity: .7; }
    .btn-container .check-BTN:hover,
    .btn-container .cancel-BTN:hover {
      opacity: .7;
      transition: .2s; }
  .btn-container .cancel-BTN {
    position: relative;
    display: inline-block;
    width: 240px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #76391B;
    color: #fff;
    border-radius: 100px;
    transition: .2s;
    cursor: pointer;
    background-color: #FCF2CA;
    color: #76391B; }
    .btn-container .cancel-BTN:hover {
      background-color: #FCE444; }
    .btn-container .cancel-BTN:hover {
      opacity: .7;
      transition: .2s; }

.cal-btn {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  background-color: #BB7232;
  box-shadow: 0px 4px 0px #76391B;
  cursor: pointer;
  font-size: 40px;
  font-weight: 900;
  color: #FCF2CA; }
  .cal-btn:hover {
    opacity: .6;
    transition: .3s; }
  .cal-btn:active {
    top: 2px;
    box-shadow: 0px 2px 0px #76391B; }

.settingThreshold-container {
  max-width: 960px;
  margin: auto;
  padding: 30px; }
  .settingThreshold-container .setting {
    margin: 20px 0;
    padding: 20px;
    border-right: 1px solid #76391B; }
    .settingThreshold-container .setting h3 {
      text-align: center; }
    .settingThreshold-container .setting .settingArea {
      width: 70%;
      margin: auto;
      padding: 20px 0;
      text-align: center; }
  .settingThreshold-container .bonus {
    padding: 20px; }
    .settingThreshold-container .bonus p {
      padding: 40px; }
      .settingThreshold-container .bonus p span {
        font-size: 36px;
        font-weight: 600; }

#people, #minus, #plus {
  display: inline-block;
  float: none; }

#people {
  text-align: center;
  font-size: 36px;
  font-weight: 600; }

#people2 {
  font-size: 24px; }

.addMeal-container {
  position: relative;
  padding: 30px;
  border-radius: 30px;
  background-image: url("../asset/natural-wooden-paneling-texture.jpg");
  background-size: cover;
  background-position: center; }
  .addMeal-container .checkMeal-btn {
    margin: 10px auto;
    position: relative;
    display: inline-block;
    width: 160px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #76391B;
    color: #fff;
    border-radius: 100px;
    transition: .2s;
    cursor: pointer; }
    .addMeal-container .checkMeal-btn:hover {
      opacity: .7; }
    .addMeal-container .checkMeal-btn:hover {
      opacity: .7;
      transition: .2s; }
  @media screen and (min-width: 768px) {
    .addMeal-container {
      width: 90%; } }
  @media screen and (min-width: 768px) {
    .addMeal-container .checkMeal-btn {
      display: none; } }
  .addMeal-container .checkMeal-bg {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #5c5c5c;
    opacity: .6; }

#add-meal {
  position: fixed;
  display: none; }

#add-meal:checked + .addMeal-container .addMealPanel {
  left: 0;
  transition: .3s; }

#add-meal:checked + .addMeal-container .checkMeal-bg {
  display: block;
  transition: .3s; }

.addMealPanel {
  position: absolute;
  z-index: 10;
  top: 0;
  left: -700px;
  transition: .3s;
  float: none;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 6px 20px rgba(70, 70, 70, 0.445); }
  @media screen and (min-width: 768px) {
    .addMealPanel {
      position: relative;
      left: 0;
      float: left;
      display: block; } }
  .addMealPanel ul {
    padding-bottom: 20px;
    border-bottom: 1px solid #BB7232; }
    .addMealPanel ul li {
      float: left;
      width: calc(33.33% - 20px);
      margin: 10px 10px 0px;
      padding: 10px;
      text-align: center;
      border-radius: 200px;
      cursor: pointer;
      border: 2px solid #BB7232; }
      .addMealPanel ul li.active {
        background-color: #BB7232;
        color: #fff; }
  .addMealPanel .add-wrapper {
    width: 100%;
    height: 500px;
    padding: 10px;
    font-size: 0;
    text-align: center;
    overflow-y: scroll;
    background-color: #eee; }

.mealPointer {
  position: absolute;
  top: 250px;
  left: 55%;
  text-align: center; }
  .mealPointer h3 {
    width: 100px; }
  .mealPointer .pic {
    filter: invert(100);
    transform: rotate(90deg) scale(0.5); }

.selectMeal {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  font-size: 16px;
  box-shadow: 6px 6px 0px #FCE444; }
  .selectMeal .pic {
    border-radius: 20px; }
  .selectMeal .topUI {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px; }
    .selectMeal .topUI .addThis, .selectMeal .topUI .removeThis {
      position: relative;
      font-size: 30px;
      border: 1px solid #aaa;
      position: relative;
      width: 30px;
      height: 30px;
      line-height: 25px;
      text-align: center;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0px 4px 0px #76391B;
      cursor: pointer;
      box-shadow: none; }
      .selectMeal .topUI .addThis:hover, .selectMeal .topUI .removeThis:hover {
        opacity: .6;
        transition: .3s; }
      .selectMeal .topUI .addThis:active, .selectMeal .topUI .removeThis:active {
        top: 2px;
        box-shadow: 0px 2px 0px #76391B; }
      .selectMeal .topUI .addThis .hint, .selectMeal .topUI .removeThis .hint {
        display: none;
        font-size: 16px;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: #333;
        border-radius: 10px;
        transition: .3s;
        top: 40px; }
        .selectMeal .topUI .addThis .hint:after, .selectMeal .topUI .removeThis .hint:after {
          content: '';
          display: block;
          position: absolute;
          top: -6px;
          left: 0;
          right: 0;
          margin: auto;
          width: 0px;
          border-width: 0px 6px 6px;
          border-style: solid;
          border-color: transparent transparent #333; }
        .selectMeal .topUI .addThis .hint:after, .selectMeal .topUI .removeThis .hint:after {
          left: 10px;
          right: auto; }
      .selectMeal .topUI .addThis:hover, .selectMeal .topUI .removeThis:hover {
        opacity: .9; }
        .selectMeal .topUI .addThis:hover .hint, .selectMeal .topUI .removeThis:hover .hint {
          display: block; }
      .selectMeal .topUI .addThis.removeThis, .selectMeal .topUI .removeThis.removeThis {
        font-size: 16px; }
  .selectMeal .meal-title {
    position: absolute;
    bottom: 0;
    width: 100%; }
    .selectMeal .meal-title .meal-score {
      padding: 6px; }
  .selectMeal .title-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 6px 10px;
    background-color: #76391B;
    color: #FCF2CA; }
  .selectMeal .added-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #111;
    text-align: center;
    font-size: 20px;
    opacity: 0.8;
    left: 100000px;
    opacity: 0;
    transition: opacity .3s; }
    .selectMeal .added-bg i {
      font-size: 24px; }

.addedList {
  position: relative;
  max-width: 500px;
  margin: auto;
  background-color: #fff;
  border: 2px solid #FCE444;
  text-align: center;
  float: none;
  border-radius: 20px; }
  .addedList .mealArea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    overflow-y: scroll; }
    .addedList .mealArea .selectMeal {
      box-shadow: 6px 6px 0px #BB7232; }
  .addedList .grouponDate {
    padding: 20px;
    margin: 0 20px;
    vertical-align: middle;
    border-bottom: 2px solid #FCE444; }
    .addedList .grouponDate h3 {
      padding: 20px; }
    .addedList .grouponDate .grouponDay {
      font-size: 30px; }
  .addedList .grouponDetail {
    margin: 0 20px;
    border-top: 2px solid #FCF2CA; }
    .addedList .grouponDetail div {
      padding: 30px 10px; }
    .addedList .grouponDetail #addedMealNow {
      font-size: 30px; }
    .addedList .grouponDetail .originalPrice {
      text-decoration: line-through; }
  .addedList #salePrice {
    color: #FF5000;
    font-size: 30px;
    font-weight: 600; }
  @media screen and (min-width: 768px) {
    .addedList {
      float: left;
      right: -100px; } }
  .addedList .addMeal-btn {
    position: relative;
    width: 60px;
    height: 60px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 4px 0px #76391B;
    cursor: pointer;
    position: absolute;
    top: 450px;
    right: 20px;
    font-size: 30px;
    box-shadow: 0px 3px 10px rgba(77, 77, 77, 0.39); }
    .addedList .addMeal-btn:hover {
      opacity: .6;
      transition: .3s; }
    .addedList .addMeal-btn:active {
      top: 2px;
      box-shadow: 0px 2px 0px #76391B; }
    .addedList .addMeal-btn:active {
      top: 454px; }
    @media screen and (min-width: 768px) {
      .addedList .addMeal-btn {
        display: none; } }
    .addedList .addMeal-btn:after {
      position: absolute;
      top: 50px;
      left: -30px;
      width: 200%;
      content: '點此增加餐點';
      font-size: 16px; }

.createdList-wrapper {
  margin-top: 160px;
  border: 3px solid #FCE444;
  border-radius: 30px;
  overflow: hidden; }
  .createdList-wrapper h1 {
    background-color: #FCE444;
    padding: 30px;
    font-size: 24px; }
  .createdList-wrapper .selectedMealList-container {
    margin: -40px 0 0;
    padding: 20px; }
    .createdList-wrapper .selectedMealList-container .mealList {
      border: 3px solid #76391B;
      border-radius: 20px;
      overflow: hidden;
      background-color: #fff; }
      .createdList-wrapper .selectedMealList-container .mealList h2 {
        background-color: #76391B;
        padding: 10px;
        color: #fff; }
      .createdList-wrapper .selectedMealList-container .mealList .addedMeal-wrapper {
        height: 500px;
        overflow-y: scroll; }

.selectedDetail-container {
  padding: 20px; }
  .selectedDetail-container .selectedDetail {
    padding: 20px;
    border: 3px solid #FCE444;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(65, 65, 65, 0.418); }
  .selectedDetail-container .grouponTitle h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 0px;
    font-weight: 800;
    text-align: left;
    line-height: 1.6;
    border-bottom: 2px dashed #76391B; }
    .selectedDetail-container .grouponTitle h2 .grouponTag {
      font-size: 16px; }
  .selectedDetail-container .grouponDate h3 {
    padding: 10px;
    padding-left: 0px; }
  .selectedDetail-container .grouponDate .date-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 2px dashed #76391B; }
  .selectedDetail-container .grouponDate .startDate, .selectedDetail-container .grouponDate .endDate, .selectedDetail-container .grouponDate .grouponDay {
    font-size: 30px;
    font-weight: 800; }
  .selectedDetail-container .bonusArea-wrapper {
    padding: 30px;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 2px dashed #76391B; }
    .selectedDetail-container .bonusArea-wrapper .title {
      display: block;
      padding: 10px;
      padding-left: 0px;
      padding-right: 0px; }
    .selectedDetail-container .bonusArea-wrapper .people {
      display: inline-block;
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      color: #FF5000; }
    .selectedDetail-container .bonusArea-wrapper .people-container p {
      padding: 30px;
      padding-left: 0px;
      padding-right: 0px; }
    .selectedDetail-container .bonusArea-wrapper .people-container h3 {
      font-weight: 600; }
    .selectedDetail-container .bonusArea-wrapper p {
      padding: 10px;
      padding-left: 0px;
      padding-right: 0px; }
    .selectedDetail-container .bonusArea-wrapper .bonus-container {
      padding: 10px;
      background-color: #FED44F;
      color: #76391B;
      font-weight: bolder;
      border-radius: 1000px; }
      .selectedDetail-container .bonusArea-wrapper .bonus-container .bonus {
        font-size: 24px; }
      .selectedDetail-container .bonusArea-wrapper .bonus-container .pic {
        position: relative; }
      .selectedDetail-container .bonusArea-wrapper .bonus-container .bonus-coin {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        text-align: center;
        font-size: 16px;
        opacity: 1;
        font-size: 30px;
        font-weight: 900; }
        .selectedDetail-container .bonusArea-wrapper .bonus-container .bonus-coin i {
          font-size: 19.2px; }
  .selectedDetail-container .grouponDetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center; }
    .selectedDetail-container .grouponDetail .salePrice {
      color: #FF5000;
      font-weight: 800; }
    .selectedDetail-container .grouponDetail #addedMealNow, .selectedDetail-container .grouponDetail #salePrice {
      font-size: 30px;
      font-weight: 800; }
