  *{
    //   outline:1px solid red;
      margin: 0;
      padding: 0;
      font-family: 微軟正黑體;
  }
  @media screen and (min-width: 767px){
    //   桌機格線
    .part-1, .part-2, .part-3, .part-4, .part-5, .part-6, .part-7, .part-8, .part-9, .part-10, .part-11, .part-12 {
        float: left;
        box-sizing: border-box;
        padding: 10px; }
    
    .part-1 {
        width: 8.33333%; }
    
    .part-2 {
        width: 16.66667%; }
    
    .part-3 {
        width: 25%; }
    
    .part-4 {
        width: 33.33333%; }
    
    .part-5 {
        width: 41.66667%; }
    
    .part-6 {
        width: 50%; }
    
    .part-7 {
        width: 58.33333%; }
    
    .part-8 {
        width: 66.66667%; }
    
    .part-9 {
        width: 75%; }
    
    .part-10 {
        width: 83.33333%; }
    
    .part-11 {
        width: 91.66667%; }
    
    .part-12 {
        width: 100%; }
    // 桌機格線結束





    // 導覽列

    header{
        width: 100%;
        height: 100px;
        background-color: #ff03;
    }

    // 導覽列結束


    // 標語
    .coll_slogan{
        width: 100%;
        height: 150px;
        background-color: #BB7232;
        font-size: 0;
    }
    .coll_slogan_title{
        width: 50%;
        display: inline-block;
    }
    .coll_slogan_title p{
        max-width: 600px;
        font-size: 30px;
        margin: auto;
        padding: 10px 0;
    }
    .coll_slogan_left{
        text-align: left;
    }
    .coll_slogan_right{
        text-align: right;
    }
    .coll_slogan_pic{
        width: 50%;
        display: inline-block;
    }

    .jump{
        -webkit-animation: 5s jump linear infinite;
          animation: 5s jump linear infinite;
    }
    @keyframes jump{
        0% {
          -webkit-transform: scale(0, 0);
                  transform: scale(0, 0);
        }
        
        2% {
          -webkit-transform: scale(0.292554252432152, 0.545376716848168);
                  transform: scale(0.292554252432152, 0.545376716848168);
        }
        
        4% {
          -webkit-transform: scale(0.788551391390369, 1.120376016086594);
                  transform: scale(0.788551391390369, 1.120376016086594);
        }
        
        6% {
          -webkit-transform: scale(1.120376016086594, 1.184807461549862);
                  transform: scale(1.120376016086594, 1.184807461549862);
        }
        
        8% {
          -webkit-transform: scale(1.207445230574602, 1.037247338712057);
                  transform: scale(1.207445230574602, 1.037247338712057);
        }
        
        10% {
          -webkit-transform: scale(1.139672272493081, 0.959151493096828);
                  transform: scale(1.139672272493081, 0.959151493096828);
        }
        
        12% {
          -webkit-transform: scale(1.037247338712057, 0.972534530793938);
                  transform: scale(1.037247338712057, 0.972534530793938);
        }
        
        14% {
          -webkit-transform: scale(0.972031419546276, 1.001379435012348);
                  transform: scale(0.972031419546276, 1.001379435012348);
        }
        
        16% {
          -webkit-transform: scale(0.957140100254271, 1.008821093113781);
                  transform: scale(0.957140100254271, 1.008821093113781);
        }
        
        18% {
          -webkit-transform: scale(0.972534530793938, 1.003092956925791);
                  transform: scale(0.972534530793938, 1.003092956925791);
        }
        
        20% {
          -webkit-transform: scale(0.993604544681563, 0.998573305048547);
                  transform: scale(0.993604544681563, 0.998573305048547);
        }
        
        22% {
          -webkit-transform: scale(1.006367469874671, 0.998500975623806);
                  transform: scale(1.006367469874671, 0.998500975623806);
        }
        
        24% {
          -webkit-transform: scale(1.008821093113781, 0.999833501948367);
                  transform: scale(1.008821093113781, 0.999833501948367);
        }
        
        26% {
          -webkit-transform: scale(1.005378103626964, 1.000385276149533);
                  transform: scale(1.005378103626964, 1.000385276149533);
        }
        
        28% {
          -webkit-transform: scale(1.001059752569101, 1.000203385122328);
                  transform: scale(1.001059752569101, 1.000203385122328);
        }
        
        30% {
          -webkit-transform: scale(0.998573305048547, 0.999964849826148);
                  transform: scale(0.998573305048547, 0.999964849826148);
        }
        
        32% {
          -webkit-transform: scale(0.998191241770966, 0.999924761163581);
                  transform: scale(0.998191241770966, 0.999924761163581);
        }
        
        34% {
          -webkit-transform: scale(0.998951615476555, 0.999980662109647);
                  transform: scale(0.998951615476555, 0.999980662109647);
        }
        
        36% {
          -webkit-transform: scale(0.999833501948367, 1.000014970213524);
                  transform: scale(0.999833501948367, 1.000014970213524);
        }
        
        38% {
          -webkit-transform: scale(1.00031555507819, 1.000011778605271);
                  transform: scale(1.00031555507819, 1.000011778605271);
        }
        
        40% {
          -webkit-transform: scale(1.00036955135608, 1.000000175788403);
                  transform: scale(1.00036955135608, 1.000000175788403);
        }
        
        42% {
          -webkit-transform: scale(1.000203385122328, 0.999996522266158);
                  transform: scale(1.000203385122328, 0.999996522266158);
        }
        
        44% {
          -webkit-transform: scale(1.000023918238932, 0.999998563845857);
                  transform: scale(1.000023918238932, 0.999998563845857);
        }
        
        46% {
          -webkit-transform: scale(0.999930953553718, 1.000000476269022);
                  transform: scale(0.999930953553718, 1.000000476269022);
        }
        
        48% {
          -webkit-transform: scale(0.999924761163581, 1.000000621989317);
                  transform: scale(0.999924761163581, 1.000000621989317);
        }
        
        50% {
          -webkit-transform: scale(0.99996074901389, 1.000000103935755);
                  transform: scale(0.99996074901389, 1.000000103935755);
        }
        
        52% {
          -webkit-transform: scale(0.999997145282538, 0.999999853998891);
                  transform: scale(0.999997145282538, 0.999999853998891);
        }
        
        54% {
          -webkit-transform: scale(1.000014970213524, 0.999999910625746);
                  transform: scale(1.000014970213524, 0.999999910625746);
        }
        
        56% {
          -webkit-transform: scale(1.000015265384358, 1.000000008427682);
                  transform: scale(1.000015265384358, 1.000000008427682);
        }
        
        58% {
          -webkit-transform: scale(1.000007531821609, 1.000000030270993);
                  transform: scale(1.000007531821609, 1.000000030270993);
        }
        
        60% {
          -webkit-transform: scale(1.000000175788403, 1.000000009501385);
                  transform: scale(1.000000175788403, 1.000000009501385);
        }
        62% {
          -webkit-transform: scale(0.999996779924779, 0.999999994661554);
                  transform: scale(0.999996779924779, 0.999999994661554);
        }
        64% {
          -webkit-transform: scale(0.999996913355979, 0.999999995014962);
                  transform: scale(0.999996913355979, 0.999999995014962);
        }
        66% {
          -webkit-transform: scale(0.999998563845857, 0.999999999625199);
                  transform: scale(0.999998563845857, 0.999999999625199);
        }
        68% {
          -webkit-transform: scale(1.000000045503658, 1.000000001352395);
                  transform: scale(1.000000045503658, 1.000000001352395);
        }
        70% {
          -webkit-transform: scale(1.000000687807928, 1.000000000650779);
                  transform: scale(1.000000687807928, 1.000000000650779);
        }
        72% {
          -webkit-transform: scale(1.000000621989317, 0.999999999851502);
                  transform: scale(1.000000621989317, 0.999999999851502);
        }
        74% {
          -webkit-transform: scale(1.00000027190648, 0.999999999744926);
                  transform: scale(1.00000027190648, 0.999999999744926);
        }
        76% {
          -webkit-transform: scale(0.999999974491714, 0.999999999943276);
                  transform: scale(0.999999974491714, 0.999999999943276);
        }
        78% {
          -webkit-transform: scale(0.999999853998891, 1.000000000054265);
                  transform: scale(0.999999853998891, 1.000000000054265);
        }
        80% {
          -webkit-transform: scale(0.999999875091735, 1.000000000038668);
                  transform: scale(0.999999875091735, 1.000000000038668);
        }
        82% {
          -webkit-transform: scale(0.999999948934096, 0.999999999999035);
                  transform: scale(0.999999948934096, 0.999999999999035);
        }
        84% {
          -webkit-transform: scale(1.000000008427682, 0.999999999987969);
                  transform: scale(1.000000008427682, 0.999999999987969);
        }
        86% {
          -webkit-transform: scale(1.000000030817137, 0.999999999995506);
                  transform: scale(1.000000030817137, 0.999999999995506);
        }
        88% {
          -webkit-transform: scale(1.000000024997425, 1.000000000001836);
                  transform: scale(1.000000024997425, 1.000000000001836);
        }
        90% {
          -webkit-transform: scale(1.000000009501385, 1.000000000002084);
                  transform: scale(1.000000009501385, 1.000000000002084);
        }
        92% {
          -webkit-transform: scale(0.999999997642536, 1.000000000000276);
                  transform: scale(0.999999997642536, 1.000000000000276);
        }
        94% {
          -webkit-transform: scale(0.999999993528801, 0.999999999999482);
                  transform: scale(0.999999993528801, 0.999999999999482);
        }
        96% {
          -webkit-transform: scale(0.999999995014962, 0.999999999999711);
                  transform: scale(0.999999995014962, 0.999999999999711);
        }
        98% {
          -webkit-transform: scale(0.999999998251508, 1.000000000000041);
                  transform: scale(0.999999998251508, 1.000000000000041);
        }
        100% {
          -webkit-transform: scale(1.000000000606774, 1.000000000000103);
                  transform: scale(1.000000000606774, 1.000000000000103);
        }
        0% {
          opacity: 1;
        }
        50% {
          opacity: 1;
        }
        90% {
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
      
    .coll_slogan_pic_icon{
        width: 5%;
    }
    .move {
        animation: shake-slowNoMove 10s ease-in-out infinite;
    }
      @keyframes shake-slowNoMove {
        0% {
          transform: translate(0, 0) rotate(0);
        }
        2% {
          transform: translate(2px, -9px) rotate(2.5deg);
        }
        4% {
          transform: translate(-4px, 5px) rotate(-2.5deg);
        }
        6% {
          transform: translate(-8px, 8px) rotate(3.5deg);
        }
        8% {
          transform: translate(-7px, 4px) rotate(-1.5deg);
        }
        10% {
          transform: translate(7px, 0px) rotate(1.5deg);
        }
        12% {
          transform: translate(3px, 8px) rotate(-0.5deg);
        }
        14% {
          transform: translate(4px, 4px) rotate(0.5deg);
        }
        16% {
          transform: translate(-4px, -4px) rotate(3.5deg);
        }
        18% {
          transform: translate(-8px, -7px) rotate(3.5deg);
        }
        20% {
          transform: translate(-9px, 8px) rotate(2.5deg);
        }
        22% {
          transform: translate(-9px, -5px) rotate(-2.5deg);
        }
        24% {
          transform: translate(4px, -7px) rotate(-2.5deg);
        }
        26% {
          transform: translate(-1px, 3px) rotate(1.5deg);
        }
        28% {
          transform: translate(-3px, -7px) rotate(3.5deg);
        }
        30% {
          transform: translate(6px, -9px) rotate(2.5deg);
        }
        32% {
          transform: translate(8px, -5px) rotate(-2.5deg);
        }
        34% {
          transform: translate(7px, 8px) rotate(1.5deg);
        }
        36% {
          transform: translate(2px, 5px) rotate(-2.5deg);
        }
        38% {
          transform: translate(-6px, 0px) rotate(2.5deg);
        }
        40% {
          transform: translate(9px, 7px) rotate(-2.5deg);
        }
        42% {
          transform: translate(-2px, -2px) rotate(-0.5deg);
        }
        44% {
          transform: translate(0px, -6px) rotate(-2.5deg);
        }
        46% {
          transform: translate(-5px, 2px) rotate(1.5deg);
        }
        48% {
          transform: translate(-8px, -7px) rotate(3.5deg);
        }
        50% {
          transform: translate(-5px, -6px) rotate(-2.5deg);
        }
        52% {
          transform: translate(8px, 1px) rotate(-2.5deg);
        }
        54% {
          transform: translate(-1px, -1px) rotate(-2.5deg);
        }
        56% {
          transform: translate(5px, -1px) rotate(2.5deg);
        }
        58% {
          transform: translate(-6px, -8px) rotate(-2.5deg);
        }
        60% {
          transform: translate(5px, 5px) rotate(3.5deg);
        }
        62% {
          transform: translate(-4px, -2px) rotate(1.5deg);
        }
        64% {
          transform: translate(-5px, 7px) rotate(3.5deg);
        }
        66% {
          transform: translate(7px, 4px) rotate(0.5deg);
        }
        68% {
          transform: translate(-5px, -2px) rotate(-2.5deg);
        }
        70% {
          transform: translate(1px, 3px) rotate(-1.5deg);
        }
        72% {
          transform: translate(-6px, 0px) rotate(2.5deg);
        }
        74% {
          transform: translate(1px, 9px) rotate(2.5deg);
        }
        76% {
          transform: translate(10px, -5px) rotate(-2.5deg);
        }
        78% {
          transform: translate(-5px, 4px) rotate(3.5deg);
        }
        80% {
          transform: translate(-6px, 1px) rotate(0.5deg);
        }
        82% {
          transform: translate(9px, 10px) rotate(2.5deg);
        }
        84% {
          transform: translate(-1px, 5px) rotate(-1.5deg);
        }
        86% {
          transform: translate(4px, 1px) rotate(2.5deg);
        }
        88% {
          transform: translate(-5px, -7px) rotate(1.5deg);
        }
        90% {
          transform: translate(-8px, -2px) rotate(0.5deg);
        }
        92% {
          transform: translate(10px, -9px) rotate(-0.5deg);
        }
        94% {
          transform: translate(7px, 6px) rotate(-0.5deg);
        }
        96% {
          transform: translate(6px, 1px) rotate(-2.5deg);
        }
        98% {
          transform: translate(5px, 0px) rotate(1.5deg);
        }
        100% {
          transform: translate(0, 0) rotate(0);
        }
      }
    // 標語結束


    // 左邊的面板 
    .coll_panel{
        height: 800px;
        // background-color: red;
        display: block;
    }

    // 面板圓形
    .coll_total{
        max-width: 200px;
        width:100%;
        height:200px; 
        border-radius:999px;
        background-color:#E69500;
        margin: 35px 26% 0;
        z-index: 2;
    }

    .coll_total_num{
        text-align: center;
        font-size: 30px;
        max-width: 50px;
        width:100%;
        height:50px; 
        border-radius:999px;
        background-color:#FFBA3B;
        color: #fff;
        box-sizing: border-box;
        padding: 8px 0px 0 2px;
        margin: 30px 65px;
    }

    .coll_total_title{
        margin: 20px 0;
        text-align: center;
        font-size: 20px;
    }
    .coll_total_s{
        display: none;
    }
    // 面板圓形結束

    // 面板矩形
    .coll_kind{
        max-width: 350px;
        box-sizing: border-box;
        border:15px#bc5437 solid;
        border-radius:10px;
        width:100%;
        height:650px;
        background-color:#fff;
        margin: 140px 10% 0;
        padding: 80px 0 0 0px;
        box-shadow:2px 2px 4px 4px #ddd;
        z-index: 0;
        
    }
    .coll_kind_item p{
        font-size: 30px;
        margin: 5px auto;
        text-align: center;
    }
    .coll_kind_item_text{
        // text-shadow: 3px 1px #333333;
        color: #333333;
        font-size: 24px;
    }
    .kind_icon{
        width: 100%;
        margin: 20px 0;
        position: relative;
    }

    .kind_icon:hover{
        animation: up_down 0.2s ease infinite;
        
    }
    @keyframes up_down{
        0%{top:0;}
        50%{top:-2px;}
        100%{top:2px;}
    }
    
    // 面板矩形結束

    // 搜尋
    // .coll_search{
    //     font-size:0;
    //     display: block;
    // }
    // .coll_search_lift{
    //     margin: 20px 20% 0 35%;
    //     display: inline-block;
    //     vertical-align: middle;

    // }
    // .coll_search_right{
    //     margin: 0% 0 0 -20%;
    //     width: 5%;
    //     display: inline-block;
    //     vertical-align: middle;
    // }

    // 搜尋結束






    // 左邊的面板結束



    // 右邊的收藏一覽

    .coll_title{
        background-color: #FCF2A8;
    }

    // 標題
    .coll_title_kind{
        height: 140px;
    }

    .coll_kind_item_title{
        background-color: #333333;
        color: #fff;
        border:2px#333333 solid;
        border-radius:10px;
        box-sizing: border-box;

    }


    .coll_title_kind_text{
        width: 10%;
        height: 50px;
    }
    .title_kind_icon{
        width: 50%;
        text-align: center;
        display:block; 
        margin:auto;
    }




    .coll_title_kind_line{
        width: 45%;
        height: 100px;
    }

    .coll_title_kind_text p{
        font-size: 30px;
        text-align: center;
    }

    .title_kind_line_icon{
        width: 100%;
        height: 100px;
        display:block; 
        margin:auto;
    }
    // 標題結束

    // 菜色

    .coll_food{
        width: calc(25% - 20px);
        box-sizing: border-box; 
        border: 2px solid #fff;
        margin: 0 10px;
        font-size: 0px;
        background-color: #fff;
        border-radius: 20px;
    }
    .coll_food_X{
        border-bottom: 2px solid #333333;
    }
    .coll_food_X_icon{
        float: right;
        width: 5%;
    }

    .coll_food_title{
        // display: inline-block;
        // vertical-align: baseline;
    }


    .coll_food_title p{
        line-height: 40px;
        font-size: 24px;
        text-align: center;
        border:2px#ccc solid;
        border-radius:10px;
        background-color: #BB7232;
        color: #fff;
    }
    .coll_food_score{
        margin: 10px 0;
        text-align: center;
       
        // display: inline-block;
        // vertical-align: baseline;
    }
    .coll_food_title_icon{
        width: 13%;
        margin: 0 2px;
    }
    .coll_food_info{
        float: none;
        // display: inline-block;
        // vertical-align: bottom;
        display: none;
    }
    .coll_food_info p{
        font-size: 16px;
        line-height: 1.6;
        
    }
    .coll_food_price{
        float:left;
        // display: inline-block;
        // vertical-align: middle;
    }
    .coll_food_price p{
        color: #333333;
        // background-color: #FCE444;
        font-size: 30px;
        padding: 0 0 0 0;
        text-align: center;
    }

    .coll_food_pic{
        text-align: center;
    }


    .coll_food_pic_icon{
        width: 80%;
        // display: inline-block;
        margin:auto;
        text-align: center;
    }

    .coll_food_shop{
        float: right;
        text-align: center;
        
    }
    .coll_food_shop_button{
        // padding-left:-10px;
        // border:2px#333333 solid;
        border-radius:5px;
        // box-shadow:2px 2px 4px 4px #ddd;
        // margin: 5px;
        display: inline-block;
        vertical-align: middle;
    }


    .coll_food_shop_text{
        display: inline-block;
        vertical-align: baseline;
        font-size: 20px;
        margin: 0px;
        color: #BB7232;
        padding: 0 5px;

    }

    .coll_food_shop_icon{
        margin: 0px 0 0px 5px;
        display: inline-block;
        vertical-align: baseline;
        width: 14%;
    }
    // 蔡色結束
}








@media screen and (max-width: 767px){
    *{
        // outline:1px solid red;
        margin: 0;
        padding: 0;
    }
    // 手機格線
.part-s-1, .part-s-2, .part-s-3, .part-s-4, .part-s-5, .part-s-6, .part-s-7, .part-s-8, .part-s-9, .part-s-10, .part-s-11, .part-s-12 {
    float: left;
    box-sizing: border-box;
    padding: 10px; }
  
  .part-s-1 {
    width: 8.33333%; }
  
  .part-s-2 {
    width: 16.66667%; }
  
  .part-s-3 {
    width: 25%; }
  
  .part-s-4 {
    width: 33.33333%; }
  
  .part-s-5 {
    width: 41.66667%; }
  
  .part-s-6 {
    width: 50%; }
  
  .part-s-7 {
    width: 58.33333%; }
  
  .part-s-8 {
    width: 66.66667%; }
  
  .part-s-9 {
    width: 75%; }
  
  .part-s-10 {
    width: 83.33333%; }
  
  .part-s-11 {
    width: 91.66667%; }
  
  .part-s-12 {
    width: 100%; }
//    手機格線結束 

   // 導覽列

   header{
    width: 100%;
    height: 100px;
    background-color: #ff03;
   }

// 導覽列結束


// 標語
    .coll_slogan{
        width: 100%;
        height: 150px;
        background-color: #BB7232;
        font-size: 0;
    }
    .coll_slogan_title{
        width: 100%;
        display: inline-block;
    }
    .coll_slogan_title p{
        // max-width: 300px;
        font-size: 20px;
        margin: auto;
        padding: 10px 0;
        // display: inline-block;
    }
    .coll_slogan_right{
        text-align: right;
    }
    .coll_slogan_pic{
        width: 50%;
        // display: inline-block;
    }
    .coll_slogan_pic_icon{
        width: 5%;
    }
    // 標語結束


    // 左邊的面板 
    .coll_panel{
        width: 100%;
        height: 400px;
        background-color: #E69500;
        display: block;
        font-size: 0;
    }

    // 面板圓形
    .coll_total{
        max-width: 100px;
        // width:100%;
        height:100px; 
        border-radius:999px;
        background-color:#FFBA3B;
        margin: 12px 0 -12px 10%;
        z-index: 2;
        float: none;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        font-size: 0;
    }

    .coll_total_num{
        text-align: center;
        padding: 25px 0 25px;
        font-size: 30px;
        
        
        
    }

    .coll_total_title{
        // margin: 20px 0;
        // text-align: center;
        font-size: 16px;
        display: none;
    }
    
    .coll_total_s{
        // width: 100%;
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin: 20px 0px 0 20px;
    }
    .coll_total_s p{
        font-size:24px;
        min-width: 170px;
    }
    
    // 面板圓形結束

    // 面板矩形
    // .coll_kind{
    //     max-width: 350px;
    //     border:2px#ccc solid;
    //     border-radius:10px;
    //     width:100%;
    //     height:500px;
    //     // background-color:#FCE444;
    //     margin: 200px 10% 0;
    //     padding: 80px 0 0 0px;
    //     // box-shadow:2px 2px 4px 4px #ddd;
    //     z-index: 0;
    // }
    .coll_kind_item p{
        font-size: 18px;
        margin: 10px auto;
        text-align: center;
        
    }
    .kind_icon{
        display:block;
        width: 100%;
        margin: 5px auto;
        text-align: center;
    }
    .coll_kind_item_text{
        margin: 2px 0;
    }
    // 面板矩形結束

    // 搜尋
    // .coll_search{
    //     font-size:0;
    //     display: block;
    // }
    // .coll_search_lift{
    //     margin: 20px 20% 0 35%;
    //     display: inline-block;
    //     vertical-align: middle;

    // }
    // .coll_search_right{
    //     margin: 0% 0 0 -20%;
    //     width: 5%;
    //     display: inline-block;
    //     vertical-align: middle;
    // }

    // 搜尋結束






    // 左邊的面板結束



    // 右邊的收藏一覽

    .coll_title{
        background-color: #FCF2A8;
    }

    // 標題
    .coll_kind_item_title{
        background-color: #333333;
        color: #fff;
    }
    .coll_title_kind{
        height: 130px;
        font-size: 0;
        padding: 0;
    }

   
    .title_kind_icon{
        width: 40%;
        text-align: center;
        display:block; 
        margin:auto;
    }


    .coll_title_kind_line{
        width: 25%;
        height: 50px;
        display: inline-block;
        font-size: 0px;
        padding: 0;
        
    }

    .coll_title_kind_text{
        font-size: 0px;
        width: 50%;
        height: 50px;
        display: inline-block;
        height: 120px;
        text-align: center;
        padding: 0;
    }
    .title_kind_line_icon{
        font-size: 0px;
        width: 100%;
        height: 100px;
        display: inline-block; 
        margin:auto;
        padding: 0;
    }
    .coll_title_kind_text p{
        margin: auto;
        font-size: 24px;
        display: inline-block;
        padding: 0;
    }
    // 標題結束

    // 菜色

    .coll_food{
        width: calc(50% - 10px);
        box-sizing: border-box; 
        border: 2px solid #333333;
        margin: 5px 5px;
        background-color: #fff;
    }
    .coll_food_X{
        // border-bottom: 2px solid #000;
    }
    .coll_food_X_icon{
        float: right;
        width: 10%;
    }
    .coll_food_title p{
        line-height: 40px;
        font-size: 24px;
        text-align: center;
    }
    .coll_food_score{
        margin: auto;
        text-align: center;
    }
    .coll_food_title_icon{
        width: 15%;
        margin: auto;
    }
    .coll_food_info{
        display: none;
    }
    .coll_food_info_text{
        padding: 1px;
    }

    .coll_food_price p{
        color: #333333;
        // background-color: #FCE444;
        font-size: 30px;
        padding: 0 0 0 0;
        text-align: center;
        margin: 10px 0;
    }




    .coll_food_pic_icon{
        width: 80%;
        display: block;
        margin:auto;
        text-align: center;
    }

    .coll_food_shop{
        float: right;
        text-align: center;
    }
    .coll_food_shop_text{
        // line-height: 30px;
        font-size: 20px;
        display: inline-block;
        vertical-align: baseline;
    }

    .coll_food_shop_icon{
        display: inline-block;
        vertical-align: baseline;
        // margin: 0 10px;
        width: 15%;
        margin: 0px 0 -4px 5px;
    }
    // 蔡色結束 

    
}