// @import "daycookMixin";
@import "daycookVar";
@import "mixins/general_mixins";



.out{ 
    padding: 30px 50px;
    height: 100vh;
    font-family: $fmy;

//共用
    *{
        outline: 1px solid #f00;
        font-size: $fontSize_text;
        text-align: center;
    }
    a{ 
        text-decoration: none; 
        color: $color_main2;
    }
    .d-flex{
        height: 100%;
        .container{
//左邊切換列
            .back-nav{
                .back-logo{ 
                    padding-top: 30px;
                    border: 1px solid rgba(0,0,0,.125); 
                    border-bottom: none;
                    border-radius: 10px 10px 0 0;
                }
                .back-signout{ 
                    padding: 50px 0;
                    border: 1px solid rgba(0,0,0,.125);
                    border-top: none;
                    border-radius: 0 0 10px 10px;
                    font-size: $fontSize_M;
                    font-weight: bold;
                    span,a{ 
                        padding: 20px; 
                        color: $color_main2;
                    }
                }
                .back-change{
                    border-radius: 10px;
                    &:hover{ background-color: $color_main3; }
                }
            }
//右邊資料明細
            .back-text{
                height: 100%;
                border: 1px solid rgba(0,0,0,.125);
                border-radius: 10px;
                .banner{ 
                    width: 100%;
                    height: 25vh;
                    padding-top: 20px;
                    background-image: url("../images/客服G8稜-01.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    font-size: $fontSize_L; 
                    position: relative;
                    @include main-BTN(80px);
                    .mainBTN{
                            margin: 0 20px 20px 93%;
                            border: 1px solid rgba(0,0,0,.125);
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            &:active { top: auto; }
                    }
                }
                .modal{
                    .modal-dialog{
                        .modal-content{
                            top: 150px;
                            .modal-img{
                                width: 50%;
                                position: absolute;
                                top: -150px;
                                right: 25%;
                                left: 25%;
                                img{ width: 100%; }
                            }
                            .modal-header{
                                .modal-title{}
                                .close{}
                            }
                            .modal-body{
                                form{
                                    .form-group{
                                        .title-width{ 
                                            width: 300px; 
                                            display: flex;
                                            justify-content: center;
                                            align-items: center; 
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                            }
                            .modal-footer{
                                .btn{}
                            }
                        }
                    }
                }
                .table{
                    thead,tbody{
                        tr{
                            th,td{
                                border-bottom: 1px solid rgba(0,0,0,.125);
                                vertical-align: middle; 
                            }
                        }
                    }
                    tbody{
                        tr{ 
                            td{
                                padding: 3px; 
                                img{ height: 50px; }
                            }
                        }
                    }
                }
                .back-page{
                    li{ padding: 10px; }
                }
            }
        }
    }
}
    
        


        

        
        


        


